extends ./layout/index.pug
block compartirContenido 
    div
    section.py-5.text-center.container
        .row.py-lg-5
        .col-lg-6.col-md-8.mx-auto
            h1.fw-light Encuenta los mejores Hoteles en Zacatlan Puebla 
            p.lead.text-muted
            | Las Mejores instancias para pasar las mejores vacaciones mucho mas cerca de ti, reserva ahora !
            p
            a.btn.btn-secondary.my-2(href='#') Ver hoteles

    div
    .album.py-5.bg-light
        .container
        .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
            